// === EASV 2024 Brand Variables ===
$easv-red: #C00D0D;
$easv-yellow: #FFBC3D;
$easv-blue: #009FDA;
$easv-gray: #464646;

$it-media: #FFCC00;
$design: #5799A9;
$salg-marketing: #E84D0E;

$font-title: "Skolar Sans Pro Bold";
$font-body: "Skolar Sans Pro Book";

$radius-default: 12px;
$shadow-soft: 0px 4px 8px rgba(0, 0, 0, 0.1);
